<header>
  <div class="header_menu">
    <%= fa_icon 'facebook-square', class: 'fn_icon' %>
    <%= link_to "#{current_user.family_name}#{current_user.first_name}", user_path(current_user.id) %>
    <%= link_to 'ホーム', entries_path %>
    <%= link_to 'ログアウト', session_path(current_user.id), method: :delete %>
  </div>
</header>

<div class="main">
  <p>投稿を作成</p>
  <%= render 'form' %>

  <div class="posts">
    <% @entries.each do |entry| %>
      <table>
        <tr>
          <td rowspan="2">
            <div class="entry_icon">
              <% if entry.user.user_image %>
                <%= image_tag entry.user.user_image.url, class: 'form_user_icon' %>
              <% else %>
                <%= fa_icon 'user-circle', class: 'form_user_icon' %>
              <% end %>
            </div>
          </td>
          <td>
            <%= "#{entry.user.family_name}#{entry.user.first_name}" %>
          </td>
        </tr>
        <tr>
          <td>
            <span class="created_at"><%= time_ago_in_words(entry.created_at)+'前' %></span>
          </td>
        </tr>
      </table>
      <% if current_user.id == entry.user_id %>
        <%= link_to '投稿の編集', edit_entry_path(entry.id) %>
        <%= link_to '削除', entry_path(entry.id), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
      <% end %>
        <div class="entry_content">
          <%= entry.content %>
        </div>
        <% unless entry.image.blank? %>
          <div class="entry_image">
            <%= image_tag entry.image.url, class: 'entry_image_view' %>
          </div>
        <% end %>
        <% good_users = entry.good_users %>
        <% unless good_users.blank? %>
          <div class="good_users">
            <%= image_tag '/images/good.png', class: 'good_users_icon' %>
            <% good_users.each do |u| %>
              <%= link_to "#{u.family_name}#{u.first_name}", user_path(u.id) %>
            <% end %>
          </div>
          <% end %>
        <% good = current_user.goods.find_by(entry_id: entry.id) %>
        <% if good.present? %>
          <%= link_to(good_path(id: good.id), method: :delete, class: 'btn btn_danger') do %>
            <%= fa_icon 'thumbs-up', class: 'btn btn_remove_good', text: '解除' %>
          <% end %>
        <% else %>
        <%= link_to(goods_path(entry_id: entry.id), method: :post, class: 'btn btn_primary') do %>
          <%= fa_icon 'thumbs-up', class: 'btn btn_good', text: 'いいね！' %>
        <% end %>
        <% end %>
    <% end %>
  </div>
</div>
