<header class="user_header">
  <div class="user_header_container clearfix">
    <div class="signin_header_logo header_logo">facenote</div>
    <div class="header_login">
      <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
      <table>
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td celspan="2"><%= f.label :パスワード %></td>
        </tr>
        <tr>
          <td><%= f.email_field :email %></td>
          <td><%= f.password_field :password %></td>
          <td><%= f.submit 'ログイン', class: 'btn' %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</header>

<div class="main">
  <div class="main_container">
    <h1>新規アカウントを作成</h1>
    <h4>簡単に登録できます。</h4>

    <%= form_with(model: @user, local: true, url: confirmation_screen) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="form_name">
        <%= f.text_field :family_name, placeholder: "姓" %>
        <%= f.text_field :first_name, placeholder: "名" %>
      </div>

      <div class="form_email">
        <%= f.email_field :email, placeholder: "メールアドレス" %>
      </div>

      <div class="form_password">
        <%= f.password_field :password, placeholder: "パスワード" %>
      </div>

      <div class="birth">
        <p>誕生日</p>
        <%= f.select :birth_year, options_for_select(((Time.now.year).downto((Time.now.year) - 100)), selected: (Time.now.year) - 25), include_blank: '年' %>
        年
        <%= f.select :birth_month, options_for_select((1..12), selected: Time.now.month), include_blank: '月' %>
        月
        <%= f.select :birth_day, options_for_select((1..31), selected: Time.now.day), include_blank: '日' %>
        日
      </div>

      <div class="gender">
        <p>性別</p>
        <label><%= f.radio_button :gender, '1', {checked: true} %>男性</label>
        <label><%= f.radio_button :gender, '2' %>女性</label>
      </div>

      <div class="submit">
        <%= f.submit 'アカウント登録', class: 'btn' %>
      </div>
    <% end %>
  </div>
</div>
