<header>
  <div class="header_menu">
    <%= icon 'fab', 'facebook-square', class: 'fn_icon' %>
    <%= link_to "#{current_user.family_name}#{current_user.first_name}", user_path(current_user.id) %>
    <%= link_to 'ホーム', entries_path %>
    <%= link_to 'ログアウト', session_path(current_user.id), method: :delete %>
  </div>
</header>

<% if @user.user_image %>
  <%= image_tag @user.user_image.url, class: 'prof_user_icon' %>
<% else %>
  <%= icon 'fas', 'user-circle', class: 'prof_user_icon' %>
<% end %>
<%= @user.family_name %>
<%= @user.first_name %>

<div class="has_images">
  <%= icon 'fas', 'image', class: 'prof_image' %>
    <% @image_entries.each do |entry| %>
      <%= image_tag entry.image.url, class: 'has_image' %>
    <% end %>
</div>

<div class="prof_entries">
  投稿
  <% @entries.each do |entry| %>
    <div class="posts">
      <table>
        <tr>
          <td rowspan="2">
            <div class="entry_icon">
              <% if entry.user.user_image %>
                <%= image_tag entry.user.user_image.url, class: 'form_user_icon' %>
              <% else %>
                <%= icon 'fas', 'user-circle', class: 'form_user_icon' %>
              <% end %>
            </div>
          </td>
          <td>
            <%= "#{entry.user.family_name}#{entry.user.first_name}" %>
          </td>
        </tr>
        <tr>
          <td>
            <span class="created_at">
              <% if time_ago_in_words(entry.created_at).include?('以内') %>
                <%= time_ago_in_words(entry.created_at) %>
              <% else %>
                <%= time_ago_in_words(entry.created_at)+'前' %>
              <% end %>
            </span>
          </td>
        </tr>
      </table>
      <% if current_user.id == entry.user_id %>
        <%= link_to '投稿の編集', edit_entry_path(entry.id) %>
        <%= link_to '削除', entry_path(entry.id), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
      <% end %>
        <div class="entry_content">
          <%= entry.content %>
        </div>
        <% unless entry.image.blank? %>
          <div class="entry_image">
            <%= image_tag entry.image.url, class: 'entry_image_view' %>
          </div>
        <% end %>
        <% good_users = entry.good_users %>
        <% unless good_users.blank? %>
          <div class="good_users">
            <%= image_tag '/images/good.png', class: 'good_users_icon' %>
            <% good_users.each do |u| %>
              <%= link_to "#{u.family_name}#{u.first_name}", user_path(u.id) %>
            <% end %>
          </div>
          <% end %>
        <% good = current_user.goods.find_by(entry_id: entry.id) %>
        <% if good.present? %>
          <%= link_to(good_path(id: good.id), method: :delete, class: 'btn btn_danger') do %>
            <%= icon 'fas', 'thumbs-up', class: 'btn btn_remove_good' %>
            解除
          <% end %>
        <% else %>
        <%= link_to(goods_path(entry_id: entry.id), method: :post, class: 'btn btn_primary') do %>
          <%= icon 'fas', 'thumbs-up', class: 'btn btn_good' %>
          いいね！
        <% end %>
        <% end %>
        <% child_entries = @all_entry.where(parent_entry_id: entry.id) %>
        <% if child_entries %>
          <div class="child_entry">
            <% child_entries.each do |child_entry| %>
              <div class="child_entry_top">
                <% if child_entry.user.user_image %>
                  <%= image_tag child_entry.user.user_image.url, class: 'form_user_icon' %>
                <% else %>
                  <%= icon 'fas', 'user-circle', class: 'child_entry_user_icon' %>
                <% end %>
                <%= link_to "#{child_entry.user.family_name}#{child_entry.user.first_name}", user_path(child_entry.user.id) %>
                <span class="child_entry_content">
                  <%= child_entry.content %>
                </span>
                <span class="child_entry_good_view">
                  <% child_good_users = child_entry.good_users %>
                  <% unless child_good_users.blank? %>
                    <span class="child_good_users">
                      <%= image_tag '/images/good.png', class: 'good_users_icon' %>
                      <%= child_good_users.count %>
                      <% child_good_users.each do |u| %>
                        <%= "#{u.family_name}#{u.first_name}" %>
                      <% end %>
                    </span>
                  <% end %>
                </span>
                <% if current_user.id == child_entry.user_id %>
                  <span class="child_entry_edit_or_delete">
                    <%= link_to '編集', edit_entry_path(child_entry.id) %>
                    <%= link_to '削除', entry_path(child_entry.id), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
                  </span>
                <% end %>
                <div class="child_entry_under">
                  <span class="child_entry_good">
                    <% child_good = current_user.goods.find_by(entry_id: child_entry.id) %>
                    <% if child_good.present? %>
                      <%= link_to(good_path(id: child_good.id), method: :delete, class: 'btn btn_danger') do %>
                        解除
                      <% end %>
                    <% else %>
                      <%= link_to(goods_path(entry_id: child_entry.id), method: :post, class: 'btn btn_primary') do %>
                        いいね！
                    <% end %>
                    <% end %>
                  </span>
                  <span class="created_at">
                    <% if time_ago_in_words(entry.created_at).include?('以内') %>
                      <%= time_ago_in_words(entry.created_at) %>
                    <% else %>
                      <%= time_ago_in_words(entry.created_at)+'前' %>
                    <% end %>
                  </span>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="child_entry_form">
          <%= form_with(model: @entry, local: true, url: choose_index_or_edit) do |f| %>
            <div class="child_form_content">
              <%= f.hidden_field :parent_entry_id, value: entry.id %>
              <div class="form_icon">
                <% if current_user.user_image %>
                  <%= image_tag current_user.user_image.url, class: 'form_user_icon' %>
                <% else %>
                  <%= icon 'fas', 'user-circle', class: 'form_user_icon' %>
                <% end %>
              </div>
              <div class="form_text">
                <%= f.text_field :content, placeholder: 'コメントする...' %>
              </div>
            </div>
            <div class="form_image">
              <%= f.file_field :image %>
              <%= image_tag(@entry.image.url, class: 'form_image_view') if @entry.image && @entry.image.url %>
              <%= f.hidden_field :image_cache %>
            </div>
            <%= f.submit '投稿' %>
          <% end %>
        </div>
    <% end %>
</div>
